<!doctype html>


<html>

<head>
	<title>Visualise a phase space</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/static/css/styles.css">
<style>

input#submit {
width: 100%;
height: 60px;
padding: 10px;
margin: 5px;
border-radius: 10px;
border: 2px solid #031F73;
color: #031F73;
background-size: 20px;
position: relative;
background-repeat: no-repeat;
background-position: 10px;
padding-left: 40px;
font-size: 20px;
opacity: 100;
outline: none;

}
</style>
</head>


<!-- Load in the javascript file to download as csv -->
<script type="text/javascript">
	function tableToCSV() {
		// Variable to store the final csv data
		var csv_data = [];

		// Get each row data
		var rows = document.getElementsByTagName('tr');
		for (var i = 0; i < rows.length; i++) {

			// Get each column data
			var cols = rows[i].querySelectorAll('td,th');

			// Stores each csv row data
			var csvrow = [];
			for (var j = 0; j < cols.length; j++) {

				// Get the text data of each cell
				// of a row and push it to csvrow
				csvrow.push(cols[j].innerHTML);
			}

			// Combine each column value with comma
			csv_data.push(csvrow.join(","));
		}

		// Combine each row data with new line character
		csv_data = csv_data.join('\n');

		// Call this function to download csv file 
		downloadCSVFile(csv_data);
	}

	function downloadCSVFile(csv_data) {

		// Create CSV file object and feed
		// our csv_data into it
		CSVFile = new Blob([csv_data], {
			type: "text/csv"
		});

		// Create to temporary link to initiate
		// download process
		var temp_link = document.createElement('a');

		// Download csv file
		temp_link.download = "MOF_predictions.csv";
		var url = window.URL.createObjectURL(CSVFile);
		temp_link.href = url;

		// This link should not be displayed
		temp_link.style.display = "none";
		document.body.appendChild(temp_link);

		// Automatically click the link to
		// trigger download
		temp_link.click();
		document.body.removeChild(temp_link);
	}

</script>


<body>
	{% include '/static/header.html' %}
	<div class="mainView container mainContainer">
	<div class="container mt-5">
		

		<div class="form ">
<!--			<p class="title text-red">Predict MOF porosity from a metal and a linker</p> -->
			<h3>Visualise a phase space</h3>>			<form action="" method="POST">
				<div class="input-form">
					{{ form.csrf_token }}
					<div>
						<h4>Elements</h4>
						<div id='elements-container'>
					{% set max_length = [form.elements|length, 2] | max %}
					{% for i in range(max_length) %}
					
					{% if form.elements[i] is defined %}
					<div class="elements">
						Element {{loop.index0 +1}} Symbol {{form.elements[i].element(class="search_term")}}
						Charge constraint {{loop.index0 +1}} {{form.elements[i].charge(class="search_term")}}
					</div>					
					{% else %}
					<div class="elements">
						Element 1 Symbol {{form.elements[0].element(class="search_term")}}
						Charge constraint 1 {{form.elements[0].charge(class="search_term")}}
					</div>
					<div class="elements">
						Element 2 Symbol {{form.elements[1].element(class="search_term")}}
						Charge constraint 2 {{form.elements[1].charge(class="search_term")}}
					</div>
					{% endif %}
						
					{% endfor %}
				</div>
					{{ form.n_points(type="search", class="search_term", placeholder="Number of points to plot (optional)") }}
					{{ form.submit() }} 
				</div>

			</form>
			{% if message %}
			<p>{{message}}</p>
			{% endif %}			
			{% if results %}
			{{results}}
			{% endif %}
		</div>

		
	</div>

	<p id="explanationText">
	Enter the formulation of a potential MOF using the SMILES representation of the linker and the metal(s) to be combined, to predict the likelihood of pores of different sizes forming in the resultant structur. Due to limitations in the training dataset only some elements are supported as metal, <a href="https://github.com/lrcfmd/LMDS_MOF_Porosity_Tool/blob/main/app/elemental_descriptors.csv">find the list of elements supported here</a>. Predictions were found to have an accuracy of 80.5% on a test set. This application was reported in <a href="https://doi.org/10.1039/D3DD00093A">The Liverpool Materials Discovery Server: A suite of tools for the collaborative discovery of materials.</a> and is based on the model first reported in <a href="https://onlinelibrary.wiley.com/doi/full/10.1002/ange.202114573">Machine-Learning Prediction of Metal–Organic Framework Guest Accessibility from Linker and Metal Chemistry</a>. Please consider citing these papers if you use this in your work. 
	<br/> <a href="https://lmds.liverpool.ac.uk/mof_ml/API_info">Click here for information about accessing this model using our API</a></p>

</div>
	{% include '/static/footer.html' %}

</body>
</html>
